ul {
	float: left;
}
td {
	border: 0px;
	margin: 0px;
	padding: 0px;
}
#status {
	font-size: 24px;
	display: inline;
	vertical-align: top;
 	visibility: hidden;
}
#settings	 {
	background-color: #E9E9E9;
	width: 600px;
	height: 315px;
	margin-left:auto;
  	margin-right:auto;
	border-radius: 20px;
	display: block;
}

submit {
	font-size: 26px;
}
#settings td,submit {
	font-weight: bold;
	font-family: helvetica;
}

#settings input {
	font-weight: bold;
	font-family: helvetica;
	font-size: 26px;
	border-bottom-color: #dddddd;
	border-bottom-style: solid;
  	border-bottom-width: 1px;
  	border-collapse: collapse;
  	border-left-color: #dddddd;
  	border-left-style: solid;
  	border-left-width: 1px;
  	border-right-color: #dddddd;
  	border-right-style: solid;
  	border-right-width: 1px;
  	border-top-color: #dddddd;
  	border-top-style: solid;
  	border-top-width: 1px;
	margin-bottom: 15px;
}
#form {
	margin-top: 10px;
}
table {
	width: 550px;
}
.titlebar {
	width: 100%;
	height: 48px;
	border: 0px;
	margin: 0px;
	padding :0px;
	display: inline;
}
.titleitem {
	display: block;
	float: left;
}
.titlelogo {
	border-top-left-radius: 20px;
}
#titlecell > div {
	font-size: 18	px;
	font-weight: bold;
	font-family: helvetica;
	margin-right: 40px;
	vertical-align: middle;
	text-align: center;
}
#logocell {
	width: 48px;
}
.formbody {
	margin-left: 48px;
	width: 504px;
}
.optionsbody {
	margin-left: 48px;
	width: 504px;
}
.formbody td {
	font-size: 26px;
	width: 100%;
}
.submitbody {
	margin-left: 48px;
}
.textinput {
	width: 100%;
}
.submitbody span {
	padding-top: 10px;
	vertical-align: top;
}
.options td {
	font-size: 18px;
	vertical-align: middle;
}