#settings {
	background-color: #E9E9E9;
	width: 600px;
	margin-left:auto;
  	margin-right:auto;
	border-radius: 20px;
	display: block;
}

#settings td,submit {
	font-weight: bold;
	font-family: helvetica;
	font-size: 30px;
}

#settings input {
	font-weight: bold;
	font-family: helvetica;
	font-size: 30px;
	border-bottom-color: #dddddd;
	border-bottom-style: solid;
  	border-bottom-width: 1px;
  	border-collapse: collapse;
  	border-left-color: #dddddd;
  	border-left-style: solid;
  	border-left-width: 1px;
  	border-right-color: #dddddd;
  	border-right-style: solid;
  	border-right-width: 1px;
  	border-top-color: #dddddd;
  	border-top-style: solid;
  	border-top-width: 1px;
	margin-bottom: 15px;
}

#form {
	margin-top: 10px;
}

.titlebar {
	display: inline;	
	width: 100%;
}
.titleitem {
	display: inline;
	float: left;	
}

#title {
	font-weight: bold;
	font-family: helvetica;
	width: 542px;
	margin-left: 10px;
	margin-top: 8px;
	text-align: center;
}
#title span {
	margin-left: 10px;
}

#status {
	visibility: hidden;
}

